<h1>show item</h1>

<p><img src="<%=  @portfolio_item.main_image %>" /></p>
<em><%= @portfolio_item.title %></em>
<p><%=  @portfolio_item.subtitle %></p>
<p><%=  @portfolio_item.body %></p>

<h2>Technologies Used</h2>
<% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name%> </p>
<% end %>
